on:
  # Workflow dispatch is used for manual triggers
  workflow_dispatch:
  # Workflow call is used for called from another workflow
  workflow_call:

permissions:
  contents: read
jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Install Poetry
        run: pipx install poetry

      - name: Setup Python
        uses: actions/setup-python@v4.5.0
        with:
          python-version: "3.9"
          cache: 'poetry'

      - name: Check pyproject.toml validity
        run: poetry check --no-interaction

      - name: Install deps
        run: poetry install --no-interaction

      - name: Run pre-commit
        run: poetry run pre-commit run --all-files

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Install Poetry
        run: pipx install poetry

      - name: Setup Python
        uses: actions/setup-python@v4.5.0
        with:
          python-version: "3.12"
          cache: 'poetry'
      - name: Install deps
        run: poetry install --no-interaction

      - name: Generate stubs
        run: poetry run python ./generate_stubs.py

      - name: Fixup module naming
        run: find jneqsim/neqsim -type f -name "*.pyi" -print0 | xargs -0  sed -i '' -e 's/neqsim./jneqsim.neqsim./g' || true

      - name: Build
        run: poetry build

      - name: Upload python dist
        uses: actions/upload-artifact@v4
        with:
          name: jneqsim-test-package
          path: ./dist/jneqsimsmall-0.0.0.tar.gz

  integration:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        java: [ '8', '11', '21' ]
    name: Java ${{ matrix.Java }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}

      - name: Download dist artifact
        uses: actions/download-artifact@v4
        with:
          name: jneqsim-test-package

      - name: Install package and test it
        run: |
          cd tests
          python -m venv .venv
          source .venv/bin/activate
          pip install ../jneqsimsmall-0.0.0.tar.gz pytest
          pytest